- content_for :breadcrumbs do
  = render_breadcrumbs(builder: Spina::PrimerTheme::Breadcrumbs::Builder)

= render template: 'layouts/spina/journal/primer_theme/journal/application',
         locals: { author: current_account.name, description: @description, title: @title, seo_title: @title }
