.page-form-label= f.object.title
.page-form-control= f.check_box :content, checked_value: Spina::Parts::Conferences::PrimerTheme::Checkbox::CHECKED_VALUE, unchecked_value: Spina::Parts::Conferences::PrimerTheme::Checkbox::UNCHECKED_VALUE
