- content_for :breadcrumbs do
  = render_breadcrumbs(builder: Spina::Conferences::PrimerTheme::Breadcrumbs::Builder)

= render template: 'layouts/spina/conferences/primer_theme/application',
         locals: { author: current_account.name, description: strip_tags(@presentation.abstract), title: @presentation.name,
                   seo_title: @presentation.name }
