- content_for :hero do
  - cache [current_page, partable_for(:gallery), latest_conference] do
    = render partial: 'homepage_content',
             layout: has_content?(:gallery) && content(:gallery).images.any? ? 'image_collection' : 'jumbotron',
             locals: { conference: latest_conference, advance: true, image_collection: content(:gallery) }
