- content_for :flash do
  - cache current_account do
    - if current_account.has_content? :current_conference_alert
      = render(Primer::FlashComponent.new(full: true, variant: :warning)) { current_account.content(:current_conference_alert).html_safe }
