%nav.d-flex.flex-column.flex-lg-row.flex-self-stretch.flex-lg-self-auto
  = render partial: 'navigation_item', collection: main_navigation_items, cached: true
  = link_to 'Conferences', frontend_conferences_url, class: %w[Header-link mt-lg-n3 mb-lg-n3 py-2 py-lg-3 mr-0 mr-lg-3 border-top border-lg-top-0 border-white-fade-15]
