@import spina/conferences/primer_theme/custom

@import primer
@import github
@import turbolinks
@import admin

img
  max-width: 100%
  object-fit: cover
  object-position: top left
address
  font-style: normal
