@import "@github/details-dialog-element/dist"

@import spina/conferences/primer_theme/custom
@import "@primer/css"
@import "@primer/octicons"
@import spina/conferences/primer_theme/custom_variables

.admin
  @import "spina/admin_editing"
  #admin_bar
    font-family: 'Metropolis', sans-serif

.turbo-progress-bar
  background-color: white

address
  font-style: normal
