- if documents.present? && documents.structure_items.any?
  = render Primer::SubheadComponent.new do |component|
    = component.heading { t :'.title' }

  %ul{ class: dom_class(documents), id: dom_id(documents) }
    = render partial: 'document', collection: documents.structure_items.sorted_by_structure,
            cached: ->(document) { [document, document.structure_parts.collect(&:structure_partable)] }
