- if events_list.structure_items.any?
  %ul{ class: dom_class(events_list), id: dom_id(events_list) }
    = render partial: 'event', collection: events_list.structure_items.sorted_by_structure, layout: 'list_item',
             cached: ->(event) { [event, event.structure_parts.collect(&:structure_partable)] }
- else
  = render Primer::BlankSlateComponent.new(title: t(:'.no_events'), icon: 'file')